style.css
body {
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: coral;
   }

   h1 {
    color: sal;
    text-align: center;
   }

   p {
    color: #333300;
    font-style: oblique;
   }
